# Firebase Configuration
FIREBASE_SERVICE_ACCOUNT_KEY='{"type":"service_account","project_id":"your-project-id",...}' # Your Firebase service account JSON

# Database Configuration
# AWS RDS / MySQL
MYSQL_HOST=database-cw-vsp.ccfuwqg02haw.us-east-1.rds.amazonaws.com
MYSQL_PORT=3306
MYSQL_USER=admin
MYSQL_PASSWORD=dx5crMye
MYSQL_DATABASE=cwmf

# Server Configuration
PORT=5050
FRONTEND_URL=https://your-production-url.com
API_URL=http://localhost:5050
FRONTEND_URL_DEV=http://localhost:5173
NODE_ENV=development
